<h1>Stats, <%= nickname %></h1>
<table>
    <thead>
        <tr>
            <td>Redirect to</td>
            <td>Short Link</td>
            <td>Times Viewed</td>
            <td>Last Accessed</td>
        </tr>
    </thead>
    <tbody>
    <% @entries.each do |e| %>
        <tr>
            <td><%= e.redirect_to.split("http://")[1] %></td>
            <td><a href="http://jwc.nu/<%= e.hashname %>"><%= e.hashname %></a></td>
            <td><%= e.times_viewed %></td>
            <td><%= e.last_accessed.strftime("%m/%d/%y") %></td>
        </tr>
    <% end %>
    </tbody>
</table>