<h1>Stats, <%= nickname %></h1>
<h2>Showing stats for <%= @url.redirect_to %> (short link key: <%= @url.hashname %>)</h2>
<table>
    <thead>
        <tr>
            <td>Redirect to</td>
            <td>Short Link</td>
            <td>Times Viewed</td>
            <td>Last Accessed</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @url.redirect_to.split("http://")[1] %></td>
            <td><a href="http://jwc.nu/<%= @url.hashname %>"><%= @url.hashname %></a></td>
            <td><%= @url.times_viewed %></td>
            <td><%= @url.last_accessed.strftime("%m/%d/%y") %></td>
        </tr>
    </tbody>
</table>